.content-wrap{
    padding-top: 40px;
    flex-wrap: wrap;
 }
 
 // inizio parte blu
 
 .buy-comics{
    height: 140px;
    background-color: $main-blue-color;
 }
 
 .buy-comics__content{
    height: 100%;
    padding: 20px;
    a{
       height: 100%;
       align-items: center;
       text-decoration: none;
       color: $white-color;
       text-transform: uppercase;
          img{
             height: 50px;
             padding-right: 20px;
          }
    }
 }
 .thumb{

   a{
      height: 100%;
      align-items: center;
      text-decoration: none;
      color: $white-color;
      text-transform: uppercase;
   }
    // altezza provvisoria
    width: calc(100% / 6 - 20px);
    margin: 10px 10px 0 10px;
    h4{
        font-size: 0.8rem;
        text-transform: uppercase;
        margin-top: 12px;
        font-weight: bold;
    }
    img{
       width: 100%;
    }
 }

 .load-more{
    background-color: rgb(0, 100, 231);
    padding: 10px 80px;
    margin: 20px auto;
    border: none;
    a{
       text-decoration: none;
       text-transform: uppercase;
       font-weight: bold;
       font-size: 1.2rem;
       color: white;
    }
 }

 .cards-wrapper{
    background-color: rgb(14, 14, 14);
 }

 