#comic_wrapper{
    width: 60%;
    margin: 50px auto 0 auto;
    position: relative;
}

.cover_comic{
    width: 150px;
    height: 320px;
    object-fit: contain;
    position: absolute;
    top: -350px;
}

.description-wrapper{
    padding-right: 80px;
}

.description{
    p{
        margin-bottom: 0;
    }
    h2{
        color: rgb(41, 41, 41);
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .tab-wrapper{
        background-color: rgb(0, 195, 0);
        border-right: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        color: white;
        font-weight: bold;
        margin: 20px 0;
        .price-wrap{
            width: 70%;
            border-right: 1px solid rgb(0, 0, 0);
            padding: 15px;
        }
        .availability{
            padding: 15px;
        }
    }
}

.advert-superman{
    width: 150%;
    h2{
        text-align: right;
    }
    figure{
        width: 100%;
        img{
            width: 100%;
        }
    }
}

