.page-wrap{
    height: 100%;
    button{
       margin: 30px;
       padding: 8px 45px;
      //  a{
      //     text-decoration: none;
      //     color: $white-color;
      //  }
    }
 }
 
 .content-wrap{
    padding-top: 40px;
    flex-wrap: wrap;
 }
 
 // inizio parte blu
 
 .buy-comics{
    height: 140px;
    background-color: $main-blue-color;
 }
 
 .buy-comics__content{
    height: 100%;
    padding: 20px;
    a{
       height: 100%;
       align-items: center;
       text-decoration: none;
       color: $white-color;
       text-transform: uppercase;
          img{
             height: 50px;
             padding-right: 20px;
          }
    }
 }
 .thumb{
    text-align: center;
   a{
      height: 100%;
      align-items: center;
      text-decoration: none;
      color: $white-color;
      text-transform: uppercase;
   }
    // altezza provvisoria
    width: calc(100% / 6 - 20px);
    margin: 10px 10px 0 10px;
    h4{
        font-size: 0.8rem;
    }
    img{
       width: 100%;
    }
 }

 