.footer-wrapper{
    background-image: url('../images/footer-bg.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    overflow: hidden;
    ul{
        list-style-type: none;
        li{
            line-height: 17px;
            h3{
                color: white;
                text-transform: uppercase;
                margin: 10px 0;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }

        a{
            text-decoration: none;
            color: gray;
            font-weight: 400;
            font-size: 0.8rem;
        }
    }
 }

 .copyright{
     padding-left: 2rem;
     color: gray;
     font-size: 0.8rem;
     a{
         text-decoration: none;
         color: blue;
     }
 }

 .under-footer{
     background-color: rgb(39, 39, 39);
     padding: 20px 0;
     button{
        color: white;
        text-transform: uppercase;
        background-color: rgb(39, 39, 39);
        border: 2px solid rgb(0, 100, 231);
        padding: 15px;
        font-size: 1.2rem;
    }
     ul{
         list-style-type: none;
         margin-bottom: 0;
         align-items: center;
         li{
             padding-left: 20px;
         }
     }
 }

 .follow{
     text-transform: uppercase;
     color: rgb(0, 100, 231);
     font-weight: bold;
     font-size: 1.2rem;
 }

 .under-footer-wrap{
     width: 60%;
     margin: 0 auto;
 }
