footer{
    background-image: url('../images/footer-bg.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    overflow: hidden;
    ul{
        list-style-type: none;
        li{
            h3{
                color: white;
                text-transform: uppercase;
                margin-bottom: 20px;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }

        a{
            text-decoration: none;
            color: gray;
        }
    }
 }

